body{
    margin: 0px;
    font-family: "Roboto", sans-serif;
}


header{
    background-color: #FF8B00;
    height: 80px;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

.header_inner img{
    width: 120px;
    height: auto;
}

.hamburger_menu_symbol{
    width: 34px;
    color: white;
}

.hamburger_menu_symbol:hover{
    cursor: pointer;
    box-shadow: 0 0 0 15px rgba(52, 152, 219, 0.15);
    background: rgba(52, 152, 219, 0.15);
    border-radius: 50%;
}

.basket{
    position: fixed;
    top: 80px;
    right: 0px;
    width: 300px;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.basket_header{
    height: 64px;
    width: 100%;
    font-size: 22px;
    font-weight: 550;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
}

.d_none{
    display: none;
}

